/* the website bodya nd background setting */
body {background-image:url(images/Star.avif); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: #f2f2f2;
    }
/* navigation bar setting */
#header ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    margin-top: 0%;
    }
#header ul li {
    display: inline-block;
    margin-right: 100px;
    padding: 30px;
    }
#header ul li a {
    color: #06D61B;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.2s;
    transition: transform 0.2s;
}
#header ul li a:hover {
    color: blue;
    transform: scale(1.2);
}
/* targetting img */
img {
    border-radius: 50%;
    margin: 0;
}
/* targetting all h1 title */
h1 {
    color: black;
    font-weight: bold;
}
/* targetting h2 element */
#container h2{
    color: white;
    text-align: left;
    text-size-adjust: 35px;
    margin: 5px;
    padding: 10px 50px 5px 100px;
    font-weight: bold;
}
/* targetting the entire body contents */
#container{
    text-align: center;
    line-height: 5vh;
    height: 100vh;
    width: 80%;
    margin-left: 10%;
}
/* targetting all paragraphs in the container */
#container p {
    text-align: left;
    margin: 5px;
    padding: 5px 100px 0px 100px;
    font-size: 20px;
}
/* divs backgroung change from clear to transliscent */
#container .intro {
    background-color: rgba(116, 181, 181, 0.7);
    margin: 0;
    padding: 10px 50px 10px 50px;

}
#container .about {
    background-color: rgba(235, 112, 5, 0.7);
    margin: 0;
    padding: 10px 50px 10px 10px;
    }
#container .portfolio {
    background-color: rgba(144, 116, 181, 0.7);
    margin: 0;
    padding: 10px 50px 10px 50px;

}
#container .comment {
    background-color: rgba(181, 116, 152, 0.7);
    margin: 0;
    padding: 10px 50px 10px 50px;
}
#container .contacts {
    background-color: rgba(71, 63, 63, 0.7);
    margin: 0;
    padding: 10px 50px 10px 50px;
}
/* working on the portfolio section to refine the style */

#container .portfolio .projects {
    text-align: left;
    margin: 5px;
    padding: 5px 100px 0px 55px;
    font-size: 20px;
}
#container .portfolio .projects h2 {
    margin: 5px;
    padding: 5px 100px 0px 50px;
    font-size: 20px;
    font-weight: bold;
}
#container .portfolio .projects dt {
   font-weight: bold;
}
/* working on the leave comment section */
.comment .form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 20px;
    align-content: start;
}
.form .btn{
    background-color: #06D61B;
    font-size: 20px;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:rgba(71, 63, 63, 0.7);
    color:#06D61B;
    padding: 5px;
    font-size: 15px;
}
#feedback {
    border: 2px;
    border-color: black;
    border-style: solid;
    margin: 100px;

}
.comment #feedback {
    margin: 30px;
}
/* socialmedia and contact */
.contacts .social a ion-icon {
    font-size: 50px;
    display: inline-flex;
    justify-content:space-evenly;
    margin-left: 0%;
    padding: 20px;
}
ion-icon {
  font-size: 50px; 
  color: greenyellow;
  transition: color 0.2s;
   }
ion-icon:hover {
    color: blue;
}
.mobile p {
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0px 200px 0px;
}
