body {background-image:url(images/Star.avif); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: #f2f2f2;
}
h1 {
    color: #06D61B;
}
