/* the website bodya nd background setting */
body {background-image:url(images/Star.avif); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: #f2f2f2;
    }
/* navigation bar setting */

#header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    margin-top: 0%;
  }
#header ul li {
    display: inline-block;
    margin-right: 100px;
    padding: 30px;
    }
#header ul li a {
    color: #06D61B;
    text-decoration: none;
    font-size: 20px;
}
/* targetting all h1 title */
h1 {
    color: #06D61B;
}

/* targetting the entire body contents */
#container{
    text-align: center;
    line-height: 10vh;
    height: 100vh;
}